.resources_page {
    text-align: center;
}

header, footer {
    background-color: rgb(63, 198, 83);
}

h1 {
    margin: 20px auto;
    background-color: rgb(63, 198, 83);
    padding: 5px 100px;
    color: white;
    border-radius: 20px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    display: table;
}


main {
    display: flex;
    gap: 10px;
    align-items: normal;
    margin: 20px;
}

section {
    background-color: rgb(227, 253, 230);
    border: 2px solid rgb(63, 198, 83);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%);
    transition: 0.3s ease;
}

section h2, section h3 {
    color: rgb(63, 198, 83);
}

section ul {
    padding-left: 20px;
}

section ul li {
    margin-bottom: 10px;
}

section a {
    color: rgb(63, 198, 83);
    text-decoration-line: none;
}

section a:hover {
    background-color: rgb(0, 0, 0, 0.1);
}
